<link rel="icon" type="image/png" sizes="96x96" href="/acabral5169.github.io/assets/img/favicons/favicon-96x96.png"/>
<link rel="icon" type="image/svg+xml" href="/acabral5169.github.io/assets/img/favicons/favicon.svg"/>
<link rel="shortcut icon" href="/acabral5169.github.io/assets/img/favicons/favicon.ico"/>
<link rel="apple-touch-icon" sizes="180x180" href="/acabral5169.github.io/assets/img/favicons/apple-touch-icon.png">
<meta name="apple-mobile-web-app-title" content="Angel C."/>
<link rel="manifest" href="/acabral5169.github.io/assets/img/favicons/site.webmanifest">